.form-new-site{
  max-width: 60%;
  margin: 6rem auto;
}

.width-input{
  max-width: 15rem;
}
.width-select{
  min-width: 15rem;
}
.fielset{
  border: 1px solid black;
  margin-top: 1rem;
}
.container-fielset{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}