<h1 class="title is-2 box has-text-centered">Modifier mon profil</h1>
<form name="form" class="register-form">
  <div class="field">
    <label class="label">Pseudo</label>
    <div class="control">
      <input class="input" type="text" name="nickName" placeholder="Pseudo" />
    </div>
  </div>
  <div class="field">
    <label class="label">Nom</label>
    <div class="control">
      <input class="input" type="text" name="lastName" placeholder="Nom" />
    </div>
  </div>
  <div class="field">
    <label class="label">Prenom</label>
    <div class="control">
      <input class="input" type="text" name="firstName" placeholder="Prenom" />
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input
        class="input"
        type="email"
        name="email"
        placeholder="ex: johndoe@gmail.com" />
    </div>
  </div>
  <div class="field">
    <label class="label">Date de naissance</label>
    <div class="control">
      <input class="input" type="date" name="birthday" />
    </div>
  </div>
  <div class="control">
    <label class="radio">
      <input type="radio" name="sex" value="M" />
      homme
    </label>
    <label class="radio">
      <input type="radio" name="sex" value="F" />
      femme
    </label>
  </div>
  <div class="field is-grouped is-justify-content-flex-end">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <a class="button is-link is-light">Cancel</a>
    </div>
  </div>
</form>
